.awesomplete [hidden] {
    display: none;
}

.awesomplete .visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}



.awesomplete > ul {
    position: absolute;
    z-index: 1;
    min-width: 50%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

.awesomplete > ul:empty {
    display: none;
}

.awesomplete > ul {
	/*background: linear-gradient(to bottom right, black, hsla(0,0%,100%,.8));*/
	background: tranparent;
	text-shadow: none;
}

@supports (transform: scale(0)) {
	.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 0.43em -.43em;
	}

	.awesomplete > ul[hidden],
	.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

	/* Pointer */
	.awesomplete > ul:before {
		content: "";
		position: absolute;
		width: 0; height: 0;
		border: inherit;
		border-right: 0;
		border-bottom: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.awesomplete > ul > li {
		position: relative;
		padding: .5em .3em;
		cursor: pointer;
    color: #000000;
    background-color: rgb(255,255,255,50%);
    border-radius: 50px;
	}

	.awesomplete > ul > li:hover {
		color: #EBFA08;
    background-color: rgb(29, 213, 207,50%);
    border-radius: 50px;
	}

	.awesomplete > ul > li[aria-selected="true"] {
		background: hsl(205, 40%, 40%);
		color: black;
	}

		.awesomplete mark {
			background: hsl(105, 100%, 50%);
      color: #000;
		}

		.awesomplete li:hover mark {
			background: hsl(68, 100%, 41%);
      color: #CC12C1;
		}

		.awesomplete li[aria-selected="true"] mark {
			background: #EBFA08;
			color: white;
		}
/*# sourceMappingURL=awesomplete.css.map */
