
@media all{
  body, html{
    -webkit-print-color-adjust:exact;
    font-size: 18px;
    background-color: #FDFEFE;
    color: #17202A;
    size: A4;
    margin-right: 11mm;
    margin-left: 11mm;
  }
  #letter-head{
    width:100%;
  }
  .heading{
    border-width: thin;border: 1.5px;border-style: solid;height: 60px;

  }

  .heading h2{
    margin: 10px;
  }

  .panel-heading{
    background-color: #D5D8DC!important;
    border: 0px!important;
    border-left: solid #ABB2B9!important;
    border-right: solid #ABB2B9!important;
    border-top: solid #ABB2B9!important;
    border-radius: 0%!important;
  }
  .panel{
    border: none!important;
  }
  .panel-body-first{
    border-right: solid #ABB2B9!important;
    border-left: solid #ABB2B9!important;
    border-radius: 0%!important;
  }
  .panel-body-second{
    border-left: solid #ABB2B9!important;
    border-right: solid #ABB2B9!important;
    border-radius: 0%!important;
  }
  .panel-body-third{
    border-bottom: solid #ABB2B9!important;
    border-left: solid #ABB2B9!important;
    border-right: solid #ABB2B9!important;
    border-radius: 0%!important;
  }

  .panel-title{
    font-size: 22px;
    color:#17202A;
    border-radius: 0%!important;
  }

  table{
    width:100%!important;
  }

  .note{
    line-height: 45px;
    font-size: 19px;
    text-indent: 120px;
  }

  .chit-number{
    font-family: monospace;
  }
  .tag{
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    height: auto;
    width: auto;
    text-align: center;
    float: left;
  }

  .tag p{
    margin: 0px 0px 0px 0px;
    padding-top: 12px;
    font-size: 19px;
    color: #000000;
  }

  .print{
    text-align: center;
    font-family: monospace;
    position: absolute;
  }

}
