ul, li, ol, li{
  font-size: 15pt;
  text-indent: 10px;
  text-align: justify;
  line-height: 40px;
  margin: 15px;
  margin-right:30px;
  font-family: 'faruma';
}
p{
  font-size: 15pt;
  margin-right:40px;
  margin-left:30px;
  text-indent: 50px;
  text-align: justify;
  line-height: 40px;
  font-family: 'faruma';
}
h1,h2,h3,h4,h5,h5{
  font-family: 'faruma';
  margin:15px;
}
link,a{
  text-decoration: none!important;
  color:#000!important;
  pointer-events: none;
  font-family: sans-serif;
}

table{
  font-family: 'faruma';
}

.txta{
  line-height: 2%;
}


@font-face {
  font-family:'faruma';
  src: url('../fonts/Faruma.eot');
  src: url('../fonts/Faruma.woff2') format('woff2'),
       url('../fonts/Faruma.woff') format('woff'),
       url('../fonts/Faruma.ttf') format('truetype'),
       url('../fonts/Faruma.svg#Faruma') format('svg'),
       url('../fonts/Faruma.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
