.outline{
  border-radius:50px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top:60px;
  margin-bottom:60px;
  -webkit-box-shadow: 0px 0px 21px -1px rgba(0,158,147,1);
  -moz-box-shadow: 0px 0px 21px -1px rgba(0,158,147,1);
  box-shadow: 0px 0px 21px -1px rgba(0,158,147,1);

}
