.brand{
  width:130px;
  float:left;
  vertical-align: middle;
  margin-top:10px;
}
.nav{
  height: 150px;
  background-color: transparent;
  border:none;
}
.navbar{
  border: none;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, .6);
  outline: none;
}
.navbar-header-cus{
  vertical-align: middle!important;
  padding-top: 10px;
  background-color: transparent;

}
.navbar-brand{
  vertical-align: middle;
  background-color: transparent;
  border:none;
}
.brand-name{
  font-size: 3.3em;
  color: white;
  position: static;
  padding-left: 13px;
}
.navlogin{
  font-size: 1.6em;
  padding-top: 35px;
}
.mcs-name{
  padding-left: none;
  font-size:20px;
}
.nav-info{
  float:right;
  padding-top: none;
  padding-top: 35px;
  padding-right: 20px;
}
