ul, li, ol, li{
  font-size: 15pt;
  text-indent: 10px;
  text-align: justify;
  line-height: 40px;
  margin: 15px;
  margin-right:30px;
  font-family: 'faruma';
  text-align:right;
  direction:rtl;
}
p{
  font-size: 15pt;
  margin-right:40px;
  margin-left:30px;
  text-indent: 50px;
  text-align: justify!important;
  line-height: 40px;
  font-family: 'faruma';
  text-align:right;
  direction:rtl;

}
link,a{
  text-decoration: none!important;
  color:#fff!important;
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h5{
  font-family: 'faruma';
  margin:15px;
  text-align:right;
  direction:rtl;
}

table, td{
  font-family: 'faruma';
  direction:rtl;
}
table{
  width:50%;
}

.container-log{
  background:black;
  padding:30px;
  border-radius: 12px;
  margin-bottom:40px;
  /* border-right: solid #CE8900 5px;
  border-left: solid #CE8900 5px; */
}




@font-face {
  font-family:'faruma';
  src: url('../fonts/Faruma.eot');
  src: url('../fonts/Faruma.woff2') format('woff2'),
       url('../fonts/Faruma.woff') format('woff'),
       url('../fonts/Faruma.ttf') format('truetype'),
       url('../fonts/Faruma.svg#Faruma') format('svg'),
       url('../fonts/Faruma.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
