
.tbodyO {
    display:block;
    height:400px;
    overflow:auto;
}
.tbodyO .trO {
    display:table;
    width:100%;
    table-layout:fixed;
    border-radius: 10px;
}

.tableO {
    width:40%;
    font-family: 'faruma';

}

.visible-disable{
  display: none;
}
.visible-enable{
  display: block;
}



.unit {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin:auto;
  }



.unit>*{
    flex: 0 0 20%;
    text-align:center;
  }

  .shadow{
    -webkit-box-shadow: 3px 6px 22px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px 6px 22px 0px rgba(0,0,0,1);
    box-shadow: 3px 6px 22px 0px rgba(0,0,0,1);
  }
  .incident-photo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:auto;
    }



  .incident-photo>*{
      flex: 0 0 0%;
      text-align:center;
    }


  .unit-btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    height: 50px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 15px;
    background-color: #23003C;
    width:150px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }

  .unit-btn span {
    position: relative;
    z-index: 1;
  }

  .unit-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 80%;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transition: all .5s ease-in-out;
    transition: all .8s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

  .unit-btn span {
  position: relative;
  z-index: 1;
  color:#fff;
  }

  .unit-btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

.modal-content{
  background:#008F96;
  width:100%!important;
}
.close{
  background:#E74C3C;
}
