body{
  /*background-image: url("../images/bg.jpg");*/
  /*background-color: #bdbdbd;*/
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(267, 255, 255, 1) 0%, #82E0AA 25%, #82E0AA 75%, #82E0AA) 100%)!important;
  margin: 0 auto;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);

}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "raleway"
  text-transform:uppercase;
  color: #FDFEFE;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #E74C3C;
  text-decoration: none;
}

.panel-title{
  color: #000!important;
  font-size: 16pt;
}

.panel{
  background-color: rgba(255,255,255, 0.5)!important;
  border:none!important;
}
.panel-heading{
  background-color: rgba(255,255,255, 0.5)!important;
  border:none!important;
}
label{
  color: #000;
  z-index: 1;
  font-size: 13pt;
  margin-right: 20px;

}




hr.line-style{
  border:0;
  height: 2px;
  background-image: linear-gradient(to right,rgba(0,0,0,0),#000000,rgba(0,0,0,0));
}
.inputs{
  height: 50px;
  border-radius: 30px;
  font-size: 13pt;
  background-color: #000;
  color: #fff;
  border-right: 7px solid #DF1730!important;
  border-left: 3px solid #DF1730!important;
  border-top: 0px!important;
  border-bottom: 0px!important;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.inputs:focus{
  height: 50px;
  font-size: 13pt;
  background-color: #000;
  color: #fff;
  border-right: 7px solid #6CE6E6!important;
  border-left: 3px solid #6CE6E6!important;
  border-top: 0px!important;
  border-bottom: 0px!important;
}
.inputs:hover{
  height: 50px;
  font-size: 13pt;
  background-color: #000;
  color: #fff;
  border-right: 7px solid #fff!important;
  border-left: 3px solid #fff!important;
  border-top: 0px!important;
  border-bottom: 0px!important;
}

hr.type_1 {
border: none;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
color: #333;
text-align: center;
}
.save-btn{
  color: #fff;
  background-color: #000;
  text-align: center;
  height: 50px;
  font-size: 14pt;
  border:none;
  vertical-align: middle;
}
table, td{
  border-style: solid;
}
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
@import "http://fonts.googleapis.com/css?family=Tangerine";
body, .firstinfo {
  display: flex;
}

html {
  height: 100%;
  background-color: #000;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 100%;
  background: #D5D8DC;
  font-size: 16px;
  overflow: scroll;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
  width: 100vw;

}

.card {
  width: 100 vw;
  min-height: 100px;
  padding: 0px;
  border-radius: 0px;
  background: #0000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px  40px #fff;
}
.card:after {
  content: '';
  display: block;
  width: 270px;
  height: 600px;
  background: rgb(37,0,0);
  background: linear-gradient(90deg, rgba(37,0,0,1) 41%, rgba(3,91,106,1) 72%, rgba(0,0,0,1) 95%);
  border-right: 5px #fff solid;
  position: absolute;
  border-bottom: 4px #000 solid;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}
.card-unactive {
  width: 100 vw;
  min-height: 100px;
  padding: 0px;
  border-radius: 0px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px  40px #fff;
}
.card-unactive:after {
  content: '';
  display: block;
  width: 270px;
  height: 600px;
  background-color: red;
  border-right: 4px #fff solid;
  position: absolute;
  border-bottom: 4px #000 solid;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.50s forwards;
  background: url(/images/bg5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  /*border-top: 2px #5DADE2 solid;*/
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
  margin: 20px;
  float: left;
  font-family: "Open Sans", sans-serif;
}
.firstinfo img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position:static;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
  font-family: "Open Sans", sans-serif;
}
.firstinfo .profileinfo h1 {
  font-size: 1.5em;
  padding: 5px;
  margin: 0px;
  font-family: "Verdana";
  color: #fff;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #fff;
  padding: 5px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}


@keyframes animatop {
  0% {
    opacity: 0;
    bottom: 500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -7px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: 450px;
  }
  100% {
    transform: rotate(-20deg);
    top: -24px;
    left: -70px;
  }
}

.avatar {
  object-fit: cover;
  border-radius:50%;
  width: 190px;
  height: 190px;
  vertical-align: middle;
  border-style: none;
}
.avatar-active {
  object-fit: cover;
  border-radius:50%;
  width: 190px;
  height: 190px;
  box-shadow: 2px 4px  40px green;
  vertical-align: middle;
  border-style: none;
  position: fixed;
}
.avatar-unactive {
  object-fit: cover;
  border-radius:50%;
  width: 190px;
  height: 190px;
  box-shadow: 2px 4px  40px red;
  vertical-align: middle;
  border-style: none;
  position: fixed;
}
.rank {
  object-fit: cover;
  border-radius:50%;
  width: 60px!important;
  height: 60px!important;
  box-shadow: 2px 4px  40px black;
  vertical-align: middle;
  border-style: none;
}
.info-heading{
  color: #fff;
  margin-right: 20px;
}
#table-info td.info-lbl{
  color: #FAE5D3;
  font-size: 1.3em;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #333, #ccc, #ccc);
}
.btn-heading{
  color: #fff;
  margin-left: 30px;
}
#table-info td.info-lbl{
  color: #FAE5D3;
  font-size: 1.3em;
}
hr.style-two {
    border: 0;
    height: 1px;
    background: #333;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #ccc, #ccc, #333);
}

#table-info td{
  font-size: 1.3em;
  padding: 20px;
  text-align: right;
  color: #F0B27A;
  border:none;

}
table{
  border: none;
  direction: rtl;
  margin-top: 20px;
  margin-bottom: 20px;
}
