

.header{
  width: 100%;
}

html, body{
  background-color: white;
}

@media print{
  table .tfooter{
     background-color:#222!important;
     color:white;
  }
}
.wwtable td {
    text-align: center;
}

.total {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}
.avatar-haaziri {
  object-fit: cover;
  border-radius:50%;
  width: 140px;
  height: 140px;
  box-shadow: 5px 10px 60px #2C3E50;
  vertical-align: middle;
  border-style: none;
}
