




@media print
{


    header nav, footer {
    display: none;
    }




    @page {
      margin-top: 0.4in; // margin for each printed piece of paper
      size: portrait;
    }
      body {
        margin: 0; //
      }

    @page :first {
      margin-top: 0; // top margin for first page of paper
    }

    @font-face {
      font-family:'faruma';
      src: url('../fonts/Faruma.eot');
      src: url('../fonts/Faruma.woff2') format('woff2'),
           url('../fonts/Faruma.woff') format('woff'),
           url('../fonts/Faruma.ttf') format('truetype'),
           url('../fonts/Faruma.svg#Faruma') format('svg'),
           url('../fonts/Faruma.eot?#iefix') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'MVWaheed';
      src: url('../fonts/MVWaheed.eot');
      src: url('../fonts/MVWaheed.woff2') format('woff2'),
           url('../fonts/MVWaheed.woff') format('woff'),
           url('../fonts/MVWaheed.ttf') format('truetype'),
           url('../fonts/MVWaheed.svg#MVWaheed') format('svg'),
           url('../fonts/MVWaheed.eot?#iefix') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
    }

    table#mandate-sign{
      page-break-inside:avoid;
      page-break-after:always;
    }









    table {
      page-break-inside: auto;
      font-family: 'faruma';
      page-break-before: auto;
    }
    tr {
      page-break-inside: avoid;
      page-break-after: avoid;
      font-family: 'faruma';
    }

    td{
      font-size:10px;
      font-family: 'faruma';
      page-break-inside: auto;
    }
    thead {
      display: table-header-group;
      page-break-before: auto;
      page-break-after: auto;
    }

    h2{
    font-size: 20px;
    font-family: 'faruma';
    }
    h3{
    font-size: 15px;
    font-family: 'faruma';
    }
    h4{
    font-size: 13px;
    font-family: 'faruma';
    }

    p{
      font-size: 11px;
      margin-right:40px;
      margin-left:30px;
      text-indent: 50px;
      text-align: justify;
      line-height: 30px;
      font-family: 'faruma';
      direction: rtl;
    }

    ul, li, ol, li{
      font-size: 11px;
      text-indent: 10px;
      text-align: justify;
      line-height: 30px;
      margin-right:20px;
      font-family: 'faruma';
      direction: rtl;
    }


    .no-print, .no-print, .but *
      {
          display: none !important;
      }
      .print-icon, .print-button{
        display: none;
      }


  }




@media screen{
  .outlinebox-last-other{
    height:200px!important;
  }
  .outlinebox{
    height:200px!important;
  }
  .outlinebox-last{
    height: 180px!important;
  }
  .main-heading{
    height: 55px!important;
    background-color:#E5E8E8;
  }

  .hr-print{
    background-image: linear-gradient(to right, transparent, #000, transparent)!important;
    -webkit-print-color-adjust: exact !important;
    display: block;
    height: 0.5px;
    background: transparent;
    width: 100%;
    border: none;
  }
  ul, li, ol, li{
    color:#000;
    font-size: 14pt!important;
    text-indent: 10px;
    text-align: justify;
    line-height: 36px!important;
    margin-right:20px;
    font-family: 'faruma';
    direction: rtl;
    page-break-after: auto;
    page-break-inside: avoid;

  }

  p{
    font-size: 16pt!important;
    margin-right:50px!important;
    margin-left:50px!important;
    text-indent: 50px;
    text-align: justify;
    line-height: 50px!important;
    font-family: 'faruma';
    direction: rtl;
    color:#000;
  }
  th{
    font-size:14pt!important;
  }
body{
  margin:1cm;
  background-color:#B2BABB;
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 32px 0px rgba(0,0,0,1);
  border-radius: 5px;
}

.print-icon{
  color:#000;
  background-color:orange;
  width: 50px;
  height:50px;
  border-radius:100px;
  border:none;
  position: fixed;
}
}



#letter-head{
  width:100%;
}
hr.style-one{
  border: 0;
  height: 1px;
  background: #333;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, transparent, #ccc, #333);
}
header nav, footer {
display: none;
}



/* printbutton */
button.print-button {
  width: 100px;
  height: 100px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  border: solid 4px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;

  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}
/* Annual chit css for print screen and screen */
@media print,screen{

  .barcode{
    width:170px;
    margin-bottom :10px;
  }


  .rostertableth{
    font-size:8pt!important;
  }
  .rosterbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 auto;
    align-items: center;
    }
    .image--cover {
      width: 80px;
      border-radius: 11%;
      background: transparent;
      object-fit: cover;
      object-position: center;
      float: center;
    }


  .rosterbox>*{
      flex: 0 0 45%;
      text-align:left;
      align-items: center;
      width: 100%;
    }

    .rosterdatebox{
      break-inside: avoid;
    }
  .main-heading{
      padding-top:5px;
      color:#000;
      border: solid #808B96;
      text-align:center;
      height:40px;
      vertical-align: middle;
  }

  .outlinebox{
    border: solid #808B96;
    height: 165px;
    border-bottom:none;
  }
  .outlinebox-last{
    border: solid #808B96;
    height: 125px;
  }
  .outlinebox-last-other{
    border: solid #808B96;
    height: 165px;
  }

  .outlinebox-heading{
    background-color:#D5D8DC!important;
    -webkit-print-color-adjust: exact !important;

    padding-top:0.1px;
  }
  .outlinebox-heading-text{
    font-size:17px;
    color:#000;
    text-align:right;
    margin-right:15px;
  }

  .note{
    margin-right:20px;
    margin-left:20px;
    text-indent: 13px;
    line-height: 25px;
    font-size: 12px;
    color:#000;
  }

  .tag{
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    height: auto;
    width: auto;
    text-align: center;
    float: left;
  }
  .ptag{
    text-align:center;
  }

  .col-print-1 {width:8%;   float:left;}
  .col-print-2 {width:16%;  float:left;}
  .col-print-3 {width:25%;  float:left;}
  .col-print-4 {width:33%;  float:left;}
  .col-print-5 {width:42%;  float:left;}
  .col-print-6 {width:50%;  float:left;}
  .col-print-7 {width:58%;  float:left;}
  .col-print-8 {width:66%;  float:left;}
  .col-print-9 {width:75%;  float:left;}
  .col-print-10{width:83%;  float:left;}
  .col-print-11{width:92%;  float:left;}
  .col-print-12{width:100%;  float:left;}



  .parent {
  position: relative;
  margin-top:20px;
  margin-bottom:20px;
}
.ribbon {
  position: relative;
  width: 100%;
}
.logo {
  position: absolute;
  top: -9px;
  right:42%;
  width: 30px;
}



.hr-print{
  background-image: linear-gradient(to right, transparent, #000, transparent)!important;
  -webkit-print-color-adjust: exact !important;
  display: block;
  height: 0.5px;
  background: transparent;
  width: 100%;
  border: none;
}

.hr-yaumiyya{
  background-image: linear-gradient(to right, transparent, #000, #000)!important;
  -webkit-print-color-adjust: exact !important;
  display: block;
  height: 0.4px;
  background: transparent;
  width: 100%;
  border: none;
}
.hr-print-small{
  background-image: linear-gradient(to right, transparent, #000, transparent)!important;
  -webkit-print-color-adjust: exact !important;
  display: block;
  height: 0.4px;
  background: transparent;
  width: 100%;
  border: none;
  margin:5px 0 5px 0;
}

th{
  font-size:9pt;
}


            .box {
              width: 300px;
              display: flex;
              flex-wrap: wrap;
              justify-content:center;
              flex-wrap: wrap-reverse;
              margin:auto;
              }

            .box>*{
                flex: 0 0 30%;
                text-align:center;
              }
              .ribbon{
                margin:auto;
                width:50%;
              }
              img.rbn{
                width:90px;

              }
              img.mdl{
                width:70px;

              }
              .medal{
                display:flex;
                justify-content: center;
                align-items: center;
                width:100%;
              }
              p{
                font-size: 8pt;
                margin-right:2px;
                margin-left:2px;
                text-indent: 30px;
                text-align: justify;
                line-height: 25px;
                font-family: 'faruma';
                direction: rtl;
                color:#000;
              }

              ul, li, ol, li{
                color:#000;
                font-size: 10pt;
                text-indent: 10px;
                text-align: justify;
                line-height: 25px;
                margin-right:20px;
                font-family: 'faruma';
                direction: rtl;
                page-break-after: auto;
              }

                  a{
                    text-decoration: none!important;
                    color:#000!important;
                    font-family: sans-serif;
                  }
                  a:after {
                      display: none !important;
                  }

                  .officerSignList{
                    page-break-inside: avoid;
                  }


}


.table-print{
  background-image: linear-gradient(to right, transparent, #000, transparent)!important;
  -webkit-print-color-adjust: exact !important;
  display: block;
  height: 1px;
  background: transparent;
  width: 100%;
  border: none;
  margin: 1px;
}

@media screen {
  div.divFooter {
    display: none;
  }
}
@media print {
  div.divFooter {
    position: fixed;
    bottom: 0;
  }
}
