@page{
  size: A5 landscape;
}


@media all{
  body, html{
    -webkit-print-color-adjust:exact;
    font-size: 18px;
    background-color: #FDFEFE;
    color: #17202A;
    margin-right: 2mm;
    margin-left: 2mm;

  }
.heading{
  text-align:center;
  font-size:24px;
  text-decoration: underline;

}

table{
  width: 100%;
}

.panel-heading{
  background-color: #D5D8DC!important;
  border: 0px!important;
  border-left: solid #ABB2B9!important;
  border-right: solid #ABB2B9!important;
  border-top: solid #ABB2B9!important;
  border-radius: 0%!important;
}
.panel{
  border: none!important;
}
.panel-body-first{
  border-right: solid #ABB2B9!important;
  border-left: solid #ABB2B9!important;
  border-radius: 0%!important;
}
.panel-body-second{
  border-left: solid #ABB2B9!important;
  border-right: solid #ABB2B9!important;
  border-radius: 0%!important;
}
.panel-body-third{
  border-bottom: solid #ABB2B9!important;
  border-left: solid #ABB2B9!important;
  border-right: solid #ABB2B9!important;
  border-radius: 0%!important;
}

.panel-title{
  font-size: 22px;
  color:#17202A;
  border-radius: 0%!important;
}
.panel-changes{
  border-bottom: solid #ABB2B9!important;
  border-left: solid #ABB2B9!important;
  border-right: solid #ABB2B9!important;
  border-radius: 0%!important;
}
.changes-heading1{
  text-align:center!important;
  background-color:#D5D8DC!important;
  border: 1px!important;
  border-style: solid!important;
}

.changes-heading2{
  text-align:center!important;
  background-color:#D5D8DC!important;
  border: 1px!important;
  border-style: solid!important;
}
.changes-content{
  text-align:center!important;
  border: 1px!important;
  border-style: solid!important;
}


}
