*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#languageList{
border: .25em solid #137da0;
font-weight: bold;
color: black;
padding: 1px 1px;
cursor: pointer
}

.invisible{
  display: none;
}


form{
  margin:0 auto;
}

.heading2{
  text-align:center;
  color:#fff;
}

.lbl{
  color:#fff;
  font-size: 17px;
  text-align:left;
  margin-left:30px;
  border: none;
  background-color: transparent;
}

#btn-add{
  height: 50px;
  width: 50px;
  background: url("/images/icn-plus.png") no-repeat;

}
.datepicker{
  z-index:1000000000!important;
}
.awesomplete{
  width: 100%!important;
}
.statusColor{
  color:#red;
}

hr.style-line {
    border: 0;
    height: 1px;

    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #a80a71, #035b6a, #250000);
}


html{
  background-color:#000!important;
  background: url("/images/bg-blur.jpg")no-repeat!important;
  overflow-x: hidden;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;

}



.before-year{
  background-color: red;
}

.icon-td{
  width:50px;
}
.icon-tdd{
  width:100px;
}



h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

#btn-custom{
  background:url('/images/bg-blur.jpg');
  color: #2ECC71;
  height: 60px;
  font-size: 1.4em;
  border: none;
}
#btn-custom-danger{
  background:url('/images/bg-blur.jpg');
  color: #E74C3C;
  height: 60px;
  font-size: 1.4em;
  border: none;
}
#btn-custom:hover{
  background: url('/images/bg-blur2.jpg');
  border: none;
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="file"],
input[type="url"],
textarea[type="text"],

select[type="number"],
select {
  border-right: 4px solid #82E0AA!important;
  border-left: 1px solid #82E0AA!important;
  border: none;
  font-size: 18px;
  height: 50px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color:rgb(0, 210, 212,5%);
  color: #fff!important;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 30px;
}

.disabled {
   color: darkgrey;
}






.txtarea{
  background :url('/images/input-blur.jpg');
  color: #fff;
  height: 30px;
  font-size:1.4em;
  text-align: justify;
  border: none;
}
.save-btn{
  color: #fff;
  background-color: #000;
  text-align: center;
  height: 50px;
  font-size: 14pt;
  border:none;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}


select {
  padding: 6px;
  height: 55px;
  border-radius: 2px;
  border-radius: 30px;
}


.assesBtn{
  background-color: rgb(1, 66, 29,30%);
  color: #fff;
  -webkit-box-shadow: 4px 5px 17px 1px #000000;
  box-shadow: 4px 5px 17px 1px #000000;
  border-radius: 5px;
  border:none;
  width: 200px;
  height: 50px;
  font-size:17px;
}

.assesBtnCancel{
  background-color: rgb(231, 76, 60,50%);
  color: #fff;
  -webkit-box-shadow: 4px 5px 17px 1px #000000;
  box-shadow: 4px 5px 17px 1px #000000;
  border-radius: 5px;
  border:none;
  width: 200px;
  height: 50px;
  font-size:17px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

input:focus, textarea:focus{
  border:none;
  color:#000;
  background: #005864;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-right: 8px;
  color:#000;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 780px) {

  form {
    max-width: 100vw;
    background: transparent!important;
  }

}



.direction-right{
  direction: rtl;
}
.direction-left{
  direction: ltr!important;
}
label{
  font-size: 18px;
}
select{
  height: 50px;
  border-radius: 30px;

}
option{
  background-color: black !important;
  color:#fff!important;
}
.cancel{
  font-size: 18px;
  color: red;
  text-align: center;
}
.profile-pic{
  height: 200px;
  border-radius: 50%; /*don't forget prefixes*/
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
}

.avatar-list{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border-style: none;
  box-shadow: 10px 10px 30px #283747;
  object-fit: cover;
}
td{
  text-align:right;
  vertical-align: middle!important;
  font-size: 12pt;
}
td{
  vertical-align: middle;
}
.unavailable{
  color: #EC7063;
}
.unavailable-img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border-style: solid;
  border-width: none;
  -moz-box-shadow: 10px 10px 5px #EC7063;
-webkit-box-shadow: 10px 10px 5px #EC7063;
  box-shadow: 10px 10px 40px #EC7063;
  object-fit: cover;
}

.shadow{
  -webkit-box-shadow: 10px 10px 28px -4px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 28px -4px rgba(0,0,0,1);
  box-shadow: 10px 10px 28px -4px rgba(0,0,0,1);
}


#search {
  width: 300px;
  float: right;
  clear: right;
  border-radius: 10px;
  background-color: transparent!important;
  box-shadow: 2px 2px 10px #000;
  border-color: #ABB2B9;
  border-width: thin;
  border-style: none;
  font-size: 13pt;
  float: right;
}
#search:focus{
  border-style:none;
}
.search-icon{
  float: right;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}
.officers{
  height: 500px;
  border-radius: 12px;
  overflow: auto;
  box-shadow: 10px 10px 30px #283747;
  border-top: none;
  width: 100%;
}

.panel{
  background-color: rgba(0,0,0, 20%)!important;
  border:none!important;
}

.panel-heading{
  background-color: rgba(0,0,0, 40%)!important;
  border:none!important;
  color: #fff!important;
}
.form-group{
  background-color: #000;
}

.profile-photo-div{
  text-align: center;
}

.avatar {
  object-fit: cover;
  border-radius:50%;
  width: 350px;
  height: 350px;
  box-shadow: 5px 10px 60px #2C3E50;
  vertical-align: middle;
  border-style: none;
}
.avatar-profile {
  object-fit: cover;
  border-radius:50%;
  width: 150px;
  height: 150px;
  box-shadow: 5px 10px 60px #2C3E50;
  vertical-align: middle;
  border-style: none;
}
.avatar-unavailable {
  object-fit: cover;
  border-radius:50%;
  width: 350px;
  height: 350px;
  box-shadow: 5px 7px 30px #EC7063;
  vertical-align: middle;
  border-style: none;
}
.div-avatar{
  text-align: center;
  border-style: none;
}
#table-info tr:hover{
  background-color: #F8F9F9;
}
#table-info td{
  font-size: 1.3em;
  height: 40px;
  text-align: right;
  color: #fff;
}
.button{
  background-color: #EAECEE;
  border-style: none;
  height:50px;
  border-radius:8px;
  box-shadow: 5px 5px 20px #2C3E50;
  color: #000000;
  font-size: 13pt;
  padding: 10px 0px 10px 0px;
  display:block;
  width:160px;
  text-align: center;
  border-top: 2px solid #A569BD!important;
}
.button:hover
{
    text-decoration: none;
    box-shadow: 4px 4px 10px #17202A;
    background-color: #E5E7E9;
}
html{
  position: relative;

}
#line{
  position: absolute;
  height: 100%;
  top: 0;


}
.hr-line-unactive{
  background-color: #F1948A;
  height: 100%;
  width: 30px;
  border-right: 4px solid #EC7063;
  box-shadow: 4px 4px 400px #EC7063;
}
.hr-line-active{
  background-color: #ABEBC6;
  height: 100%;
  width: 30px;
  border-right: 4px solid #82E0AA;
    box-shadow: 4px 4px 400px #82E0AA;
}
.panel{
  border-bottom: 2px solid #A569BD!important;
}
.profile-table tbody{
  float: right;
  text-indent: 30px;
  direction: rtl;
  line-height: 20px;
}
.media
 {
     box-shadow:0px 0px 4px -2px #000;
     margin: 20px 0;
     padding:30px;
 }
 .dp
 {
     border:10px solid #ABB2B9;
     transition: all 0.3s ease-in-out;
     box-shadow: 2px 2px 30px #808B96;
     object-fit: cover;
     align-items:
 }
 .dp:hover
 {
     border:5px solid #D6DBDF;
     transform:rotate(360deg);
     -ms-transform:rotate(360deg);
     -webkit-transform:rotate(360deg);
     -webkit-font-smoothing:antialiased;
 }
.media-body{
  vertical-align: middle;
  text-align: left;
  padding-top:40px;
  text-align: right;
}
#profile-cover{
  background-image: url('/images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.media-heading{
  color: white;
}
.titles{
  float:right;
  vertical-align: middle;
  text-align: right;
  direction: rtl;
  font-size: 25px;
  color: #fff;
  margin-right: 10px;
  margin-top: 40px;
  list-style-type:none;
}


h1 {
  display: block;
  font-size: 50px;
  margin: 25px auto 0;
  width: 975px;
}

h1>small {
  color: #aaaaaa;
  font-size: .5em;
}

.profile-header {
  box-shadow: 1px 10px 20px rgba(0,0,0,0.5);
  height:   200px;
  position: relative;
  width:    auto;
}

div.profile-banner {
  left:     0;
  overflow: hidden;
  position: absolute;
  top:      0;
  height: 200px;
  width:0;
  object-fit: scale-down;

}

figure.profile-picture {

  height: 135px;
  left: 100px;
  position: absolute;
  z-index: 3;
  margin-top: 22px;
}

div.profile-stats {
  bottom: 0;
  border-top: 4px solid rgba(0,0,0,0.5);
  left: 0;
  padding: 10px 1px 10px 1px;
  position: absolute;
  right: 0;
  z-index: 2;
  box-shadow: 0px 3px 30px black;

  /* Generated Gradient */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.51) 3%, rgba(0,0,0,0.75) 61%, rgba(0,0,0,0.5) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(3%,rgba(0,0,0,0.51)), color-stop(61%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
 background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80000000',GradientType=0 );

}

div.profile-stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.profile-stats ul li {
  color: #efefef;
  display: block;
  float: left;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
  margin-left: 280px;
  font-style: oblique;
  font-family: 'raleway';
}

header>h1 {
  color: #354B63;
  font-size: 40px;
  position: absolute;
  z-index: 5;
}
.ccover{
  background-size: auto;
  width: 100vw;
  object-fit: cover;
  overflow:  hidden;
  margin: auto;
  height: 500px;
  margin-top: -50px; /* Half the height */


}
.photo:hover
{
    border:5px solid #D6DBDF;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -webkit-font-smoothing:antialiased;
    direction: r
}
// test

/*
 * jQuery Dynatable plugin 0.3.1
 *
 * Copyright (c) 2014 Steve Schwartz (JangoSteve)
 *
 * Dual licensed under the AGPL and Proprietary licenses:
 *   http://www.dynatable.com/license/
 *
 * Date: Tue Jan 02 2014
 */

.dynatable-search {
  float: right;
  margin-bottom: 13px;
}

.dynatable-pagination-links {
  float: right;
}

.dynatable-record-count {
  display: block;
  padding: 5px 0;
  font-family: 'raleway';
}

.dynatable-pagination-links span,
.dynatable-pagination-links li {
  display: inline-block;
  font-family: 'raleway';
}

.dynatable-page-link,
.dynatable-page-break {
  display: block;
  padding: 5px 7px;
}

.dynatable-page-link {
  cursor: hand;
  color: #17202A;

}

.dynatable-active-page{
  background-color:#1ABC9C;
}
.dynatable-disabled-page {
  cursor: text;
}
.dynatable-active-page:hover,
.dynatable-disabled-page:hover {
  text-decoration: none;
}

.dynatable-active-page {
  background: #006a72;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #1ABC9C;
  box-shadow: 1px 1px 10px #1ABC9C;
}
.dynatable-active-page:hover {
  color: #1ABC9C;
}
.dynatable-disabled-page,
.dynatable-disabled-page:hover {
  background: none;
  color: #999;
}
.dynatable-per-page-select{
  width: 100px;
}
.table-header {
  background-color: #1ABC9C;
}
.dynatable-sort-header{
  color: #000000;
  font-size: 13pt;
}
td{
  font-family: 'raleway';
}
//model CSS
.button:hover {
  color: #333;
  background: #eeffff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.modalbg .dialog {
  width: 400px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10, 30, 0.8);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
  top: -20px;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.close:hover {
  background: #00d9ff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}
.verticle-align-middle{
  vertical-align: middle;
  text-align: center;
}

.form_number{
  direction: ltr!important;
  font-family: monospace!important;
  text-transform: uppercase;
}
.pinfo{
  font-size:20;
  text-align:justify;
  color: #000000;
}
.ppinfo{
  font-size:20;
  text-align:justify;
  color: #000000;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: transparent;
    margin: 20px 0 30px 0;
    padding: 0;
    background-image: linear-gradient(to right, transparent, #00C2B1, transparent);
}
.printAsses{
  float: center;
}
.assesTable{
  background-color: transparent!important;
  -webkit-box-shadow: 4px 5px 17px 1px #000000!important;
  box-shadow: 4px 5px 17px 1px #000000!important;

}
.printAsses-thead{
  background-color:rgb(0,0,0,60%)!important;
  color: #fff;

}
.printAsses-tbody{
  background-color:rgb(0,0,0,30%)!important;
  color: #fff;
}

.arrangeBtn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin:auto;
  }

.arrangeBtn>*{
    flex: 0 0 10%;
    text-align:center;

  }



/*
.tableFixHead {
  overflow-y: auto;
  height: 500px;
}
.tableFixHead thead,th {
  position: sticky;
  top: 0;
} */



.mytable {
  width: 100%;
}

.mythead, .mytbody, .mytr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.mytbody {
  display: block;
  overflow: auto;
  table-layout: fixed;
  max-height: 450px;
}


.FixedHeightContainer
{
  float:right;
  height: 650px;
  width:100%;
  padding:3px;

}
.photocontent
{
  height:600px;
   overflow:auto;
    border-radius: 10px;
}

.btn-success{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,8,0,1) 37%, rgba(0,0,0,1) 100%);
  height: 50px;
  border: none;
  color:#fff;
  font-size:20px;
  margin:20px;
  width: 188px;
}
.btn-success:hover{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(40,0,27,1) 65%, rgba(0,0,0,1) 100%);
  transform: scale(1.1);
  transition: transform 0.1s, filter 2s ease-in-out;
  transform-origin: center center;
  -webkit-box-shadow:-1px -5px 100px 0px #14CFD5 ;
  -moz-box-shadow:-1px -5px 100px 0px #14CFD5 ;
  box-shadow:-1px -5px 100px 0px #14CFD5 ;

  /* Blurring the element for shadow effect */

}

.modalback{
  -webkit-box-shadow: 0px 4px 300px 18px rgba(13,247,235,1);
  -moz-box-shadow: 0px 4px 300px 18px rgba(13,247,235,1);
  box-shadow: 0px 4px 300px 18px rgba(13,247,235,1);
background-color:#002D2A!important;
}

.invisible{
  display:none;
}

.autosize {
  resize: none;
  overflow: hidden;
  font-size: 13px;
  text-indent: 50px;
  text-align: justify;
  line-height: 40px;
  padding:20px 30px 10px 30px!important;
}

.text-info{
  background-color: #006D72 ;
  height: 50px;
  width: 100%;
  border-radius:13px;
  margin-top:16px;
  margin-bottom:40px;
  padding: 12px;
  color:#fff;
}
