#prisoner_registry{

  -webkit-box-shadow: 3px 6px 50px -21px rgba(15,178,207,1);
  -moz-box-shadow: 3px 6px 50px -21px rgba(15,178,207,1);
  box-shadow: 3px 6px 50px -21px rgba(15,178,207,1);
  border-radius:12px;
}
#prisoner_registry::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.list-profile-photo{
width: 60px;
height: 60px;
border-radius: 50%; /*don't forget prefixes*/
background-position: center center;
background-size: cover;
object-fit: cover;
margin:5px 0 5px 0;

}

.info-profile-photo{
margin-top:15px;
width: 220px;
height: 220px;
border-radius: 50%; /*don't forget prefixes*/
background-position: center center;
background-size: cover;
object-fit: cover;
position: relative;
border: 4px solid rgba(0,168,160,1);
-webkit-box-shadow: 0px 0px 106px 3px rgba(0,168,160,1);
-moz-box-shadow: 0px 0px 106px 3px rgba(0,168,160,1);
box-shadow: 0px 0px 106px 3px rgba(0,168,160,1);
float: right;
}


.list-profile-phot{
width: 200px;
height: 200px;
border-radius: 50%; /*don't forget prefixes*/
background-position: center center;
background-size: cover;
object-fit: cover;
margin:5px 0 5px 0;
}

#pop-up {
    position: absolute;
    margin: 0 33%;
    width: 400px;
    height: 400px;
    border-radius: 50%; /*don't forget prefixes*/
    z-index: 1000;
    margin: auto;
     bottom: 0;
    display: none;
    border:none;
    -webkit-box-shadow: 0px 0px 24px -12px rgba(0,183,189,1);
    -moz-box-shadow: 0px 0px 24px -12px rgba(0,183,189,1);
    box-shadow: 0px 0px 24px -12px rgba(0,183,189,1);
}
.pop-ups{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}



input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: transparent;
  position: relative;
  text-align:center;
}

input[type="date"]::-webkit-datetime-edit-year-field{
  position: absolute !important;
  border-left:5px solid transparent;
  color:#fff;
  text-align:center;
}

input[type="date"]::-webkit-datetime-edit-month-field{
  position: absolute !important;
  border-left:5px solid transparent;
  text-align:center;
  left:60px;
  color:#fff;

}


input[type="date"]::-webkit-datetime-edit-day-field{
  position: absolute !important;
  color:#fff;
  left:40px;
  text-align:center;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.video__icon {
  position: absolute;
  width: 50px;
  left: 200px;
  top: 33px;
}
.video__icon-r {
  position: absolute;
  width: 50px;
  left: 200px;
  top: 33px;
}

  .video__icon .circle--outer {
    border: 1px solid #2ECC71;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto 5px;
    position: relative;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out infinite;
            animation: circle 2s ease-in-out infinite; }
  .video__icon .circle--inner {
    background: #2ECC71;
    left: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    opacity: .8; }


    .video__icon .circle--inner:after {
      content: '';
      display: block;
      border: 2px solid #2ECC71;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      top: -4px;
      left: -4px;
      position: absolute;
      opacity: .8;
      -webkit-animation: circle 2s ease-in-out .2s infinite;
              animation: circle 2s ease-in-out .2s infinite; }


  .video__icon-r .circle--outer-r {
    border: 1px solid #E74C3C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto 5px;
    position: relative;
    opacity: .8;
    -webkit-animation: circle 2s ease-in-out infinite;
            animation: circle 2s ease-in-out infinite; }
  .video__icon-r .circle--inner-r {
    background: #E74C3C;
    left: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    opacity: .8; }
    .video__icon-r .circle--inner-r:after {
      content: '';
      display: block;
      border: 2px solid #E74C3C;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      top: -4px;
      left: -4px;
      position: absolute;
      opacity: .8;
      -webkit-animation: circle 2s ease-in-out .2s infinite;
              animation: circle 2s ease-in-out .2s infinite; }


@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }

  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0; } }

@keyframes circle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    }

  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    } }

.info-button{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,8,0,1) 37%, rgba(0,0,0,1) 100%);
  border-radius:50px;
  height: 50px;
  border: none;
  color:#fff;
  font-size:20px;
  margin:20px;
  width: 188px;
}

.info-button:hover{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(40,0,27,1) 65%, rgba(0,0,0,1) 100%);
  transform: scale(1.1);
  transition: transform 0.1s, filter 2s ease-in-out;
  transform-origin: center center;
  -webkit-box-shadow:-1px -5px 100px 0px #14CFD5 ;
  -moz-box-shadow:-1px -5px 100px 0px #14CFD5 ;
  box-shadow:-1px -5px 100px 0px #14CFD5 ;

  /* Blurring the element for shadow effect */

}


.status-active{
  border-left: 20px solid #27AE60;
}
.status-geybandhu{
  border-left: 20px solid #D58614;
}
.status-inactive{
  border-left: 20px solid #E74C3C;
}
.active{
  color: #82E0AA;
}
.geybandhu{
  color: #D58614;
}
.inactive{
  color: #EC7063;
}



.active-status{
  border-left: 15px solid #2ECC71;
}
.active-status label{
  color: #2ECC71;

}


.inactive-status label {
  color:#EC7063;

}
.hold-status{
  border-left: 15px solid #F39C12;
}
.hold-status label{
  color:#F39C12;
}


.hukum-div{
  background:#000;
  border-radius:8px;
  height:70px;
  margin-bottom:5px;
  -webkit-box-shadow: 2px 3px 25px -9px rgba(3,217,217,1);
-moz-box-shadow: 2px 3px 25px -9px rgba(3,217,217,1);
box-shadow: 2px 3px 25px -9px rgba(3,217,217,1);
}
.hukum-div-sub{
  height:60px;
  align-items: center;
  display:flex;
  justify-content: center;
  color:#fff;
}
